<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Workers</title>
        {% comment %} <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=""> {% endcomment %}
    </head>
    <body>
        <h1> This Is main Template</h1>
        <hr>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}

        <p>footer</p>
        
        
    </body>
</html>
